[Unit]
Description=mpd2chromecast Cast Agent
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /__HOME__/__USER__/mpd2chromecast/mpd2chromecast.py
User=__USER__
Group=__USER__
Restart=on-failure
RestartSec=5
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
