[Unit]
Description=mpd2chromecast Cast Agent
StartLimitIntervalSec=60
StartLimitBurst=5
After=network.target multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/__USER__/mpd2chromecast/mpd2chromecast.py
User=__USER__
Group=__USER__
Restart=on-failure
RestartSec=5
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
